<div class="body">
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <p class="h3 fw-bold">
          CapaReg
          <a class="btn btn-dark btn-sm" routerLink="/add-patient">
            <i class="fa fa-plus-circle"></i>
            Nuevo Paciente
          </a>
          <a
            *ngIf="currentUser && currentUser.role === 'admin'"
            class="btn btn-dark btn-sm ms-2"
            routerLink="/panel-user"
          >
            <i class="fa fa-plus-circle"></i>
            Gestionar Usuarios
          </a>
          <a (click)="logout()" class="btn btn-danger btn-sm ms-2">
            <i class="fa fa-sign-out"></i>
            Cerrar Sesión</a
          >
        </p>
        <p class="fst-italic">Pacientes registrados</p>
      </div>
    </div>
  </div>

  <!-- TARJETAS -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card list-group-item-danger shadow-lg my-2">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-sm-4">
                <img
                  alt=""
                  class="tecnico-img"
                  src="../../../assets/img/1.jpg"
                />
              </div>
              <div class="col-sm-7">
                <ul class="list-group">
                  <li class="list-group-item">
                    Nombre: <span class="fw-bold">Katherine Sánchez</span>
                  </li>
                  <li class="list-group-item">
                    Edad: <span class="fw-bold">17 años</span>
                  </li>
                  <li class="list-group-item">
                    Teléfono: <span class="fw-bold">0981516113</span>
                  </li>
                  <li class="list-group-item">
                    Nacionalidad: <span class="fw-bold">Ecuatoriana</span>
                  </li>
                  <li class="list-group-item">
                    Grado de discapacidad: <span class="fw-bold">Bajo</span>
                  </li>
                </ul>
              </div>
              <div
                class="col-sm-1 d-flex flex-column justify-content-center align-items-center"
              >
                <button routerLink="/edit-patient" class="btn btn-primary my-1">
                  <i class="fa fa-pen"></i>
                </button>
                <button
                  routerLink="/report-patient"
                  class="btn btn-primary my-1"
                >
                  <i class="fa fa-file-edit"></i>
                </button>
                <button
                  class="btn btn-danger my-1"
                  (click)="delete()"
                  id="eliminarPersona"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
